body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}
h1 {
  line-height: 1em;
}
h1:not(.page_title) {
  line-height: 1em;
  padding-top: 1em;
}
h2 {
  padding-top: 0.5em;
}
li {
  line-height: 1.8em;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #171616;
    color: #ddd8d8;
  }
  a:link {
    color: #3e9edd;
  }
  a:visited {
    color: #6f5b99;
  }
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
@media (prefers-color-scheme: light) {
  .article-meta, .menu a {
    text-decoration: none;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
  }
}
@media (prefers-color-scheme: dark) {
  .article-meta, .menu a {
    text-decoration: none;
    background: rgb(43, 43, 43);
    padding: 5px;
    border-radius: 5px;
  }
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  color: #ddd;
}

/* code */
@media (prefers-color-scheme: light) {
  pre {
    padding: 1em;
    overflow-x: auto;
  }
  code {
    background-color: rgb(202, 202, 202);
    border-radius: .2em;
  }
  pre code { background: none; }
}
@media (prefers-color-scheme: dark) {
  pre {
    padding: 1em;
    overflow-x: auto;
  }
  code {
    background-color: rgb(43, 43, 43);
    border-radius: .2em;
  }
  pre code { background: none; }
}

/* misc elements */
img, iframe, video {
  max-width: 100%;
}
figure {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
figcaption {
  text-align: center;
  font-weight: bold;
  font-size: small;
}

@media (prefers-color-scheme: light) {
  blockquote {
    background: #cfceca;
    padding: 3px 1em 3px;
  }
}
@media (prefers-color-scheme: dark) {
  blockquote {
    background: #444444;
    padding: 3px 1em 3px;
  }
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
